html {
  line-height: 1.5;
  font-family: Georgia, serif;
  font-size: 20px;
  color: #CCC;
  background-color: #111;
}

body {
  margin: 0 auto;
  max-width: 36em;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 50px;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  background-color: #222;
}

p {
  margin: 1em 0;
}

a {
  color: #EEE;
}

a:visited {
  color: #DDD;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.4em;
}

h5, h6 {
  font-size: 1em;
  font-style: italic;
}

h6 {
  font-weight: normal;
}

ol, ul {
  padding-left: 1.7em;
  margin-top: 1em;
}

li > ol, li > ul {
  margin-top: 0;
}

blockquote {
  margin: 1em 0 1em 1.7em;
  padding-left: 1em;
  border-left: 2px solid #e6e6e6;
  color: #606060;
}

header {
  margin-bottom: 4em;
  text-align: center;
}

footer {
  margin-top: 4em;
  text-align: center;
}
